<p>
    <mat-toolbar color="primary" class="header">
      <span>Ebee Family Pantry</span>
      <span class="example-spacer"></span>
    <button mat-icon-button (click)="ui.displayRegister()">
        <mat-icon>group_add</mat-icon>
    </button>  
    <button mat-icon-button (click)="ui.displayLogin()">
        <mat-icon>people</mat-icon>
    </button>  
    <button mat-icon-button  (click)="ui.displayItem()">
        <mat-icon>shopping_basket</mat-icon>
    </button>
    <button mat-icon-button (click)="ui.displayRecipe()">
        <mat-icon>room_service</mat-icon>
    </button>
    <button mat-icon-button (click)="ui.logout()">
        <mat-icon>logout</mat-icon>
    </button>
    </mat-toolbar>
</p>



<!-- <form  class="mat-elevation-z8">
    <mat-toolbar color="primary">Login</mat-toolbar>
    <div class="form-fields">
        <mat-form-field>
            <mat-label>Username</mat-label>
            <input matInput [(ngModel)]="name" name="username" type="text" placeholder="Ebee" required>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput [(ngModel)]="password" name="password" [type]="'hide' ? 'password' : 'text' " required>
            <button mat-icon-button matSuffix (click)="'hide = !hide'" type="button">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility' }} </mat-icon>
            </button>
        </mat-form-field>
    </div>
    <div class="form-buttons">
        <button mat-raised-button type="submit" color="amber" style="margin-top: 10px;">Login</button>
        <button mat-raised-button type="submit" color="amber" style="margin-top: 10px;">Register</button>
    </div>


</form> -->


  
