<p>
    <mat-toolbar color="primary" class="header">
      <span>Ebee Family Pantry</span>
      <span class="example-spacer"></span>
    <button mat-icon-button (click)="ui.displayRegister()">
        <mat-icon>group_add</mat-icon>
    </button>  
    <button mat-icon-button (click)="ui.displayLogin()">
        <mat-icon>people</mat-icon>
    </button>  
    <button mat-icon-button  (click)="ui.displayItem()" id="myButton" [disabled]="ui.isDisabled">
        <mat-icon>shopping_basket</mat-icon>
    </button>
    <button mat-icon-button (click)="ui.displayItemList()" id="myButton" [disabled]="ui.isDisabled">
        <mat-icon>kitchen</mat-icon>
    </button>
    <button mat-icon-button (click)="ui.displayRecipe()" id="myButton" [disabled]="ui.isDisabled">
        <mat-icon>room_service</mat-icon>
    </button>
    <button mat-icon-button (click)="ui.logout()">
        <mat-icon>logout</mat-icon>
    </button>
    </mat-toolbar>
    <mat-toolbar color="primary" style="position: absolute; bottom: 0; width: 100%;">
        <span>B2E York Solutions Capstone by Yemi Akinwale</span>
    </mat-toolbar>
   
</p>


  
