
    <form class="mat-elevation-z8"> 
        <mat-toolbar color="primary">New Recipe</mat-toolbar>
            <p>{{ui.getName()}} what are you cooking today?</p>
        <div class="form-fields"> 
            <mat-form-field >
                <mat-label>Name of Recipe</mat-label>
                <input matInput [(ngModel)]="recipeName" name="recipeName">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Recipe Image URL</mat-label>
                <input matInput [(ngModel)]="recipeImg" name="recipeImg">
            </mat-form-field>   
        </div>
        <div class="form-buttons">
        <button mat-raised-button type="submit" color="primary" style="margin-top: 10px;"(click)="ui.displayItemList()"><mat-label>Items List</mat-label></button>     
        </div>
        <div>
            <mat-form-field class="form-fields">
                <mat-label>Recipe Preparation</mat-label>
                <textarea matInput [(ngModel)]="recipePrep" name="recipePrep"
                 matInput
                        cdkTextareaAutosize
                        #autosize="cdkTextareaAutosize"
                        cdkAutosizeMinRows="1"
                        cdkAutosizeMaxRows="100"></textarea>
            </mat-form-field>
        </div>
        <div class="form-buttons"> 
            <button mat-raised-button type="submit" color="primary" style="margin-top: 10px;"(click)="ui.startRecipe(recipeName,recipeImg,recipeItems,recipePrep)">Start Cooking</button>
        </div>
    </form> 




  
  





