
    <form class="mat-elevation-z8"> 
        <mat-toolbar color="primary">New Recipe</mat-toolbar>
            <p>{{ui.getName()}} what are you cooking today?</p>
        <div class="form-fields"> 
            <mat-form-field >
                <mat-label>Name of Recipe</mat-label>
                <input matInput [(ngModel)]="recipeName" name="recipeName">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Recipe Image URL</mat-label>
                <input matInput [(ngModel)]="recipeImg" name="recipeImg">
            </mat-form-field>   
        </div>
        <div>
        <button mat-raised-button type="submit" color="primary" style="margin-top: 10px;"(click)="ui.displayItemList()"><mat-label>Items List:</mat-label></button>     
        </div>
        <div>
            <mat-form-field class="form-fields">
                <mat-label>Recipe Preparation</mat-label>
                <textarea matInput [(ngModel)]="recipePrep" name="recipePrep"
                 matInput
                        cdkTextareaAutosize
                        #autosize="cdkTextareaAutosize"
                        cdkAutosizeMinRows="1"
                        cdkAutosizeMaxRows="100"></textarea>
            </mat-form-field>
        </div>
        <div class="form-buttons"> 
            <button mat-raised-button type="submit" color="primary" style="margin-top: 10px;"(click)="ui.startRecipe(recipeName,recipeImg,recipeItems,recipePrep)">Start Cooking</button>
        </div>
    </form> 



 <!-- <mat-list> 
<mat-selection-list [(ngModel)]="selectedItems")]>
    <mat-list-option *ngFor="let item of items" [value]="item">
                    {{item.itemName}}
                    {{item.itemUnit}}
    </mat-list-option>
</mat-selection-list>
</mat-list>    -->


<!-- <mat-list>
    <mat-list-item *ngFor="let item of items">
        <mat-checkbox [(ngModel)]="item.selected">{{item.itemName}}{{item.itemUnit}}</mat-checkbox>
    </mat-list-item>
</mat-list> -->



<!-- <h3>Selected Items</h3>
<ul>
    <li *ngFor="let item of selectedItems">
        {{item.itemName}}
        {{item.itemUnit}}
    </li>
</ul> -->






  
  





