
   
<form class="mat-elevation-z8"> 
    <mat-toolbar color="primary">New Item</mat-toolbar>
            <p><span>{{ui.getName()}} Thanks for stocking the pantry!</span></p>
        <div class="form-fields"> 
            <mat-form-field >
                <mat-label>Item Name</mat-label>
                <input matInput [(ngModel)]="itemName" name="itemName" type="text" placeholder="Egg" required>
            </mat-form-field>
            <mat-form-field >
                <mat-label>Item Image:</mat-label>
                <input matInput [(ngModel)]="itemImg" name="itemImg">
            </mat-form-field>
            <mat-form-field >
                <mat-label>Item Unit</mat-label>
                <input matInput [(ngModel)]="itemUnit" name="itemUnit" type="number" placeholder="10" required>
            </mat-form-field> 
        </div> 
        <div class="form-buttons"> 
            <button mat-raised-button type="submit" color="primary" style="margin-top: 10px;" (click)="ui.stockItem(itemName,itemUnit,itemImg)">Store Item</button>
        </div>
</form>


