<app-header></app-header> 
<app-login *ngIf="ui.showLogin"></app-login> 
<app-register *ngIf="ui.showRegister"></app-register> 
<app-item *ngIf="ui.showItem"></app-item> 
<app-item-list *ngIf="ui.showItemList"></app-item-list>
<app-recipe *ngIf="ui.showRecipe"></app-recipe>
<app-member *ngIf="ui.showMember"></app-member>
<app-recipe-list *ngIf="ui.showRecipeList"></app-recipe-list>
<app-recipe-item-list *ngIf="ui.showRecipeItem"></app-recipe-item-list> 

<!-- <app-recipe-item-list></app-recipe-item-list>-->
<!-- <app-recipe></app-recipe>
<app-item-list></app-item-list> -->
<!-- <app-item></app-item> -->
<!-- <app-member></app-member> -->