
<!-- Cards with media area -->
<!-- show this when there something in cart "*ngIf="ui.getproduct() && items.length !=0"-->
<!-- <ng-container >
    <h3>, select the ingredients for your recipe</h3>
    <mat-card class="example-card">
        <mat-card-header>
        <mat-card-title-group *ngFor="let i of item;">
            <mat-card-title {{item.itemName}}>Name:</mat-card-title>
            <img mat-card-sm-image src= "https://material.angular.io/assets/img/examples/shiba2.jpg" >
            <mat-card-subtitle {{item.itemUnit}}>Unit:</mat-card-subtitle>
            <mat-card-subtitle>Unit Needed:<input matInput [(ngModel)]="unitNeeded"></mat-card-subtitle>
            </mat-card-title-group>
        </mat-card-header>
    </mat-card>
    <mat-action-list>
        <td colspan="4"></td>
        <td><div class="table table-responsive"><button mat-raised-button color="primary" >Save</button></div></td> 
        <td><div class="table table-responsive"><button mat-raised-button color="accent" >Go back </button></div></td>  
    </mat-action-list>
</ng-container> -->
<!-- show this when theres nothing in cart *ngIf="items.length ==0" -->
<ng-container> 
    <div class ="container">
        <div class="card">
        <div class="center">
            <h1 class="card-title">Pantry</h1>
            <h4> Your pantry is empty!</h4>
            <div><button mat-raised-button color="accent">Go back</button></div>
            </div>
        </div>
    </div>
</ng-container>


<ng-container >
    <h3>, select the ingredients for your recipe</h3>
    <mat-card class="example-card">
        <mat-card-header>
        <mat-card-title-group >
            <mat-card-title>Name:</mat-card-title>
            <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
            <mat-card-subtitle>Unit:</mat-card-subtitle>
            <mat-card-subtitle>Unit Needed:<input matInput [(ngModel)]="unitNeeded"></mat-card-subtitle>
            </mat-card-title-group>
        </mat-card-header>
    </mat-card>
    <mat-action-list>
        <td colspan="4"></td>
        <td><div class="table table-responsive"><button mat-raised-button color="primary" >Save</button></div></td> 
        <td><div class="table table-responsive"><button mat-raised-button color="accent" >Go back </button></div></td>  
    </mat-action-list>
</ng-container>